use_guix_shell() {
  LFILE=local-lock.scm
  if [ -f $LFILE ]; then
    eval "$(guix time-machine -C $LFILE -- shell -L ./ "$@" --search-paths)"
  else
    eval "$(guix shell -L ./ "$@" --search-paths)"
  fi
}

GUIX_PROFILE=target/profiles/guix-local
if [ -f $GUIX_PROFILE/etc/profile ]; then source $GUIX_PROFILE/etc/profile; fi

export RDE_LOCAL=qzdl

use guix_shell
